In [11]:
'''NOTE:
In this notebook,I would be solving the problem in two ways:
METHOD 1:USING BUILT-IN FUNCTIONS
METHOD 2:WITHOUT USING BUILT-IN FUNCTIONS'''

'NOTE:\nIn this notebook,I would be solving the problem in two ways:\nMETHOD 1:USING BUILT-IN FUNCTIONS\nMETHOD 2:WITHOUT USING BUILT-IN FUNCTIONS'

In [13]:
#Question 1:UNIQUE WORDS IN A SENTENCE

In [15]:
#METHOD-1
s = input("Enter sentence: ")

w = s.split()
u = set(w)

print("Unique words count:", len(u))
print("Unique words:", u)

Enter sentence:  python is easy and python is powerful

Unique words count: 5
Unique words: {'is', 'easy', 'python', 'powerful', 'and'}

In [19]:
#METHOD-2
s = input("Enter sentence: ")

w = s.split()
u = []

for i in w:
    if i not in u:
        u.append(i)

print("Unique words count:", len(u))
print("Unique words:", u)

Enter sentence:  python is easy and python is powerful

Unique words count: 5
Unique words: ['python', 'is', 'easy', 'and', 'powerful']

In [21]:
#Question 2:HIGHEST SALARY FROM EMPLOYEE DATA

In [23]:
#METHOD-1
n = int(input("Enter number of employees: "))
d = {}
for i in range(n):
    x = input("Enter name: ")
    e = int(input("Enter salary: "))
    d[x] = e
k = max(d, key=d.get)
print("Highest Salary:", k, "-", d[k])

Enter number of employees:  3
Enter name:  Ravi
Enter salary:  75000
Enter name:  Anita
Enter salary:  68000
Enter name:  Kiran
Enter salary:  72000

Highest Salary: Ravi - 75000

In [25]:
#METHOD-2
n = int(input("Enter number of employees: "))
d = {}
for i in range(n):
    x = input("Enter name: ")
    e = int(input("Enter salary: "))
    d[x] = e
m = 0
k = ""
for i in d:
    if d[i] > m:
        m = d[i]
        k = i
print("Highest Salary:", k, "-", m)

Enter number of employees:  3
Enter name:  Ravi
Enter salary:  75000
Enter name:  Anita
Enter salary:  68000
Enter name:  Kiran
Enter salary:  72000

Highest Salary: Ravi - 75000

In [27]:
#Question 3:FIND MAXIMUM AND MINIMUM VALUES

In [31]:
#METHOD-1
l = list(map(int, input("Enter numbers: ").split()))
print(f"List:{l}")
print("Max:", max(l))
print("Min:", min(l))

Enter numbers:  45 22 89 10 66

List:[45, 22, 89, 10, 66]
Max: 89
Min: 10

In [35]:
#METHOD-2
l = list(map(int, input("Enter numbers: ").split()))
mx = l[0]
mn = l[0]
for i in l:
    if i > mx:
        mx = i
    if i < mn:
        mn = i
print(f"List:{l}")
print("Max:", mx)
print("Min:", mn)

Enter numbers:  45 22 89 10 66

List:[45, 22, 89, 10, 66]
Max: 89
Min: 10

In [37]:
#Question 4:COUNT PRODUCTS ABOVE A PRICE THRESHOLD

In [39]:
#METHOD-1
l = list(map(int, input("Enter prices: ").split()))
c = sum(1 for i in l if i > 1000)
print("Products above 1000:", c)

Enter prices:  450 1200 899 1500 300

Products above 1000: 2

In [1]:
#METHOD-2
l = list(map(int, input("Enter prices: ").split()))
c = 0
for i in l:
    if i > 1000:
        c += 1
print("Products above 1000:", c)

Enter prices:  450 1200 899 1500 300

Products above 1000: 2

In [13]:
#Question 5:CALCULATE ATTENDANCE PERCENTAGE

In [7]:
#METHOD-1
l = input("Enter attendance: ").split()
l = [i.upper() for i in l]
p = l.count("P")
per = (p / len(l)) * 100
print("Attendance Percentage:", per)

Enter attendance:  P P A p p

Attendance Percentage: 80.0

In [11]:
#METHOD-2
l = input("Enter attendance: ").split()
l = [i.upper() for i in l]
p = 0
for i in l:
    if i == "P":
        p += 1
per = (p / len(l)) * 100
print("Attendance Percentage:", per)

Enter attendance:  P P A p p

Attendance Percentage: 80.0

In [15]:
#Question 6:REMOVE DUPLICATE PHONE NUMBERS

In [17]:
#METHOD-1
l = list(map(int, input("Enter numbers: ").split()))
u = set(l)
print("Unique phone numbers:", u)

Enter numbers:  9876543210 9123456789 9876543210

Unique phone numbers: {9876543210, 9123456789}

In [19]:
#METHOD-2
l = list(map(int, input("Enter numbers: ").split()))
u = []
for i in l:
    if i not in u:
        u.append(i)
print("Unique phone numbers:", u)

Enter numbers:  9876543210 9123456789 9876543210

Unique phone numbers: [9876543210, 9123456789]

In [21]:
#Question 7:COUNT CHARACTER FREQUENCY

In [27]:
#METHOD-1
s = input("Enter string: ")
d = {}
for i in s:
    d[i] = d.get(i, 0) + 1
print(d)

Enter string:  programming

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [29]:
#METHOD-2
s = input("Enter string: ")
d = {}
for i in s:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
print(d)

Enter string:  programming

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [31]:
#Question 8:CONVERT LIST TO TUPLE

In [33]:
#METHOD-1
l = list(map(int, input("Enter numbers: ").split()))
t = tuple(l)
print("Tuple:", t)

Enter numbers:  10 20 30

Tuple: (10, 20, 30)

In [35]:
#METHOD-2
l = list(map(int, input("Enter numbers: ").split()))
t = ()
for i in l:
    t = t + (i,)
print("Tuple:", t)

Enter numbers:  10 20 30

Tuple: (10, 20, 30)

In [37]:
#Question 9:CHECK IF A KEY EXISTS IN A DICTIONARY

In [47]:
#METHOD-1
d = {"Ravi": 75000, "Anita": 68000}
x = input("Enter name to search: ").capitalize()
if x in d:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter name to search:  Ravi

Employee exists

In [49]:
#METHOD-2
d = {"Ravi": 75000, "Anita": 68000}
x = input("Enter name to search: ").capitalize()
f = False
for i in d:
    if i == x:
        f = True
if f:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter name to search:  RAVI

Employee exists

In [51]:
#Question 10:CALCULATE AVERAGE MARKS

In [53]:
#METHOD-1
l = list(map(int, input("Enter marks: ").split()))
a = sum(l) / len(l)
print("Average Marks:", a)

Enter marks:  45 60 80 70

Average Marks: 63.75

In [55]:
#METHOD-2
l = list(map(int, input("Enter marks: ").split()))
s = 0
for i in l:
    s += i
a = s / len(l)
print("Average Marks:", a)

Enter marks:  45 60 80 70

Average Marks: 63.75